{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Programowanie w .NET</h1>
    <p class="lead">Przykladowa aplikacja <b>Grzegorz Cieplechowicz</b></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O mnie</h2>
        <p>
            Student 3 roku informatyki na UMCS
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>O uczelni</h2>
        <p>Maria Curie-Skłodowska University (Polish: Uniwersytet Marii Curie-Skłodowskiej, UMCS) was founded October 23, 1944 in Lublin. It is named in honour of Marie Curie-Sklodowska.Currently the number of students is almost 36,000. The university has 302 professors (157 full professors), 231 habilitated doctors, 826 senior lecturers, and 1829 teachers in total. Total staff is 3628.To meet the growing demand for higher education, the university has established branches in other cities.</p>
    </div>
    <div class="col-md-4">
        <h2>O przedmiocie</h2>
        <p>.NET Framework (pronounced dot net) is a software framework developed by Microsoft that runs primarily on Microsoft Windows.</p>
    </div>
</div>

{% endblock %}
